*{
    padding: 0;
    margin: 0;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
}
.container{
    margin: 0px 168.4px;
    padding: 0px 24px;
}
.header{
    display: flex;
}
.header__logo img{
width: 188px;
height: 60px;
display: flex;
object-fit: fill;
}
.header{
    
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header__menu li{
    list-style: none;
}
.header__menu{
    display: flex;
    gap: 40px;
    width: 544px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
    padding-right: 30px;
}
.header__icons{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
}
.header__icons button{
    padding: 3%;
    width:70px;
    height: 45px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.content1 h1{
    margin-top: 48px;
    font-size: 54px;
    text-align: center;
    font-weight: 900 ;
}

.second__nav{
    margin-top: 20px;
    margin-bottom: 10px;
}
.second__nav li{
    list-style: none;
    font-size: 18px;
}
.second__nav ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.search_container{
    justify-content: center;
    margin: 0px 100px;
    display: flex;
    justify-content: center;
}
.second__nav li:hover{
    border-bottom: solid 2px black;
    cursor: pointer;
}
.search__bar{
    margin-top: 20px;
   justify-content: center;
    padding: 20px;
    border-radius: 40px;
    width: 700px;
    border: 2px solid black;
}
.search__bar input{
    width: 70%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}

.search__bar input:focus{
    outline: none;
}

.cont__img img{
    height: 410px;
    width: 560px;
    
}

.content2{
    background-color: #FF5D5D;
    padding: 20px;
    margin-top:40px;
    position: relative;
    height: 400px;
}

.cont__para{
display: inline-block;
position: absolute;
margin-left: 40px;
    top: 50px;

}
.cont__para h1{
 font-size: 79px;
    font-weight: 900;
    line-height: 69px;
    letter-spacing: -6px;
}
.cont__para p{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
}
.cont__img{
    display: inline-block;
}

.cont__para button{
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
}
.card1{
    margin-top: 50px;
    padding-left: 20px;
}

.cardimg1 img,.cardimg2 img,.cardimg3 img,.cardimg4 img{
    height: 272px;
    width: 272px;
    border-radius: 6px;
    object-fit: cover;
}

.cardimg1 h2,.cardimg2 h2,.cardimg3 h2,.cardimg4 h2{
position: absolute;
bottom: 10px;
left: 10px;
color: white;
}
.cardimg1,.cardimg2,.cardimg3,.cardimg4{
    margin-top: 20px;
    position: relative;
}

.img__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card1 h1{
    font-size:24px;
    font-weight: 700;
}
.card1 p{
    font: 16px;
    font-weight: 400;
    padding-top: 10px;
    
}



.card2{
    margin-top: 50px;
    padding-left: 20px;
}

.card2img1 img,.card2img2 img,.card2img3 img,.card2img4 img{
    height: 272px;
    width: 272px;
    border-radius: 6px;
    object-fit: cover;
}

.card2img1 h2,.card2img2 h2,.card2img3 h2,.card2img4 h2{

}
.card2img1,.card2img2,.card2img3,.card2img4{
    margin-top: 20px;
}

.img__container2{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card2 h1{
    font-size:24px;
    font-weight: 700;
}
.card2 p{
    font: 16px;
    font-weight: 400;
    padding-top: 10px;
    
}

.img__container2 span{
    font-size: 14px;
    font-weight: 400px;
}
.img__container2 p{
    font-size: 14px;
    font-weight: 700;
}
.card2img1{
    line-height: 23px;
}
.card2img2{
    line-height: 26px;
}
.card2img3{
    line-height: 24px;
}
.card2img4{
    line-height: 24px;
}

.card2img1 img{
    position: relative;
}

.fullborder{
    background-color: #F2F1EC;
    height: 400px;
    margin-top: 40px;
}

.card3 h1{
    font-size:24px;
    font-weight: 700;
    padding: 20px;
}

.card3img1 img,.card3img2 img,.card3img3 img,.card3img4 img{
    height:233px;
    width:  367px;
    border-radius: 6px;
    object-fit: cover;
}
.card3img1 p,.card3img2 p,.card3img3 p,.card3img4 p{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;

}